@model MVC_Crud.Models.Department
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kaydet</h2>
@*<form method="post">
    <div class="form-group">
        <label>Departman Adı</label>
        <input type="text" name="Name" class="form-control" /><!--name adı Model>Entities>Depertment ile aynı olmalı-->
    </div>
<button type="submit" class="btn btn-success">Ekle</button>
</form>*@


<!--Html Helper ile yapımı-->
@using (Html.BeginForm("Save", "Department", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-success">Kaydet</button>
}

